<div id="main">
<div class="container-fluid">
<%= render 'layouts/info' %>

  <!--left-->
  <div class="col-sm-4">
    	<div class="panel panel-default">
         	<div class="panel-heading">Profile</div>
         	<div class="panel-body">
               <%= image_tag(@user.icon, size: '100x100') %>
             <div class="prof-body">
               <p><small><%= @user.uid %></small></p>
               <p><small>age:<%= @info["user"]["age"] %></small></p>
               <p><small>gender:<%= @info["user"]["gender"] %></small></p>
               <p><small>country:<%= @info["user"]["country"] %></small></p>
               <p><small>playcount:<%= @info["user"]["playcount"] %></small></p>
             </div>
           </div>
      </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading">Recent playing</div>
         	<div class="panel-body">
             <% @recent_songs["recenttracks"]["track"].each do |track| %>
               <p><%= track["name"] %> - <%= track["artist"]["#text"] %></p>
             <% end %>
           </div>
        </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading">Playlists<span style="float:right;"><a href="", id: "admin_playlist", data-toggle="modal" data-target=".bs-example-modal-sm"><%= glyph(:pencil) %>登録</a></span></div>
         	<div class="panel-body">
             <% unless @user.playlists.present? %>
               You have not playlist.
             <% else %>
               <div class="list-group">
                 <% @user.playlists.each do |playlist| %>
                 <a href="<%= new_playlist_path(playlist) %>" class="list-group-item">
                   <%= glyph(:music) %><%= playlist.list_name %><span class="badge"><%= playlist.songs.count %></span>
                 </a>
                 <% end %>
               </div>
             <% end %>
          </div>
        </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading">Title</div>
         	<div class="panel-body">Content here..</div>
        </div>
        <hr>
  </div><!--/left-->

  <!--center-->
  <div class="col-sm-8">
    <div class="row">
      <% @playlist.songs.each do |song| %>

        <div class="col-xs-12">
          <h2>Article Heading</h2>
          <p>
            <%= song.artist_name %> - <%= song.song_name %>
          </p>
          <%= iframe_link("C6MOKXm8x50").html_safe %>

          <p class="lead"><button class="btn btn-default">Read More</button></p>
          <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
          <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li></ul>
        </div>
      <% end %>
    </div>
    <hr>
  </div><!--/center-->

  <!-- test modal -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="test" style="width:500px; height:300px;">
        <h2>登録するよ</h2>
      </div>
      <%#= render 'playlists/add_songs' %>
    </div>
  </div>
</div>
  <!-- test modal end -->ß
</div>
