<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Musicker</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll <% if current_user %>dropdown<% end %>">
                  <% if current_user %>
                    <a href=<%= signout_path %> class="dropdown-toggle" data-toggle="dropdown">
                      <%= image_tag(current_user.icon, size: '24x24') %><b class="caret"></b>
                    </a>
                    <%#= link_to image_tag(current_user.icon, size: '24x24'), signout_path, class: "dropdown-toggle" %>
                      <ul class="dropdown-menu">
                        <li><%= link_to '' do %><%= glyph(:cog) %>Settings<% end %></li>
                        <li><%= link_to signout_path do %><%= glyph(:user) %>Logout<% end %></li>
                      </ul>
                  <% else %>
                    <%= link_to '/auth/lastfm' do %>
                    <%= glyph(:user) %> Login
                    <% end %>
                  <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!--
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><% if current_user %>
            <%= image_tag current_user.icon, size: '24x24' %> <%= link_to 'ログアウト', signout_path %>
          <% else %>
            <%= link_to 'ログイン', '/auth/lastfm' %>
          <% end %>
        </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
-->
